CompileFlags:
  Add:
    - '-IF:\Program Files (x86)\IDEs\Keil5\C51\INC'
    - '-D__C51__'
    - '-D__VSCODE_C51__'
    - '-Dreentrant='
    - '-Dcompact='
    - '-Dsmall='
    - '-Dlarge='
    - '-Ddata='
    - '-Didata='
    - '-Dpdata='
    - '-Dbdata='
    - '-Dxdata='
    - '-Dcode='
    - '-Dbit=char'
    - '-Dsbit=char'
    - '-Dsfr=char'
    - '-Dsfr16=int'
    - '-Dsfr32=int'
    - '-Dinterrupt='
    - '-Dusing='
    - '-D_at_='
    - '-D_priority_='
    - '-D_task_='
